apiVersion: v1
kind: Service
metadata:
  name: users-service
spec:
  type: LoadBalancer
  selector:
    app: users-service
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
